@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* Global Styles */
body {
    font-family: 'VT323', monospace;
    font-size: 1.4em;
    background: #000;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #000;
    border-bottom: 2px solid #FFFFFF;
}

.logo {
    font-size: 1.6em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

nav ul li a:hover {
    color: #CCCCCC;
}

/* Main Content */
main {
    padding: 40px;
    min-height: 60vh;
}

.hero {
    text-align: center;
}

.hero h1::after {
    content: '_';
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

/* Index Image */

.hero-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Email Link */
section .email-link, section .email-link:visited {
    color: #FFFFFF !important;
    text-decoration: none;
}

section .email-link:hover {
    color: #CCCCCC !important;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: #000;
    border-top: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.bandcamp-embed {
    max-width: 700px; /* adjust as needed */
    margin: 20px auto; /* center embed player */
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
    padding: 20px;
}

.gallery-grid img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}
